<div>
    <h1>เมนู</h1>
</div>
<hr> <br> <br>
<div>
    <h3>ของคาว</h3> <br>
    <div class="row row-cols-md-3">
        <div class="col">
            <div class="card" style="width: 20rem;">
                <img src="https://images.rawpixel.com/image_800/cHJpdmF0ZS9zdGF0aWMvaW1hZ2Uvd2Vic2l0ZS8yMDIyLTA0L2xyL3B4MTQ0Mjg0OS1pbWFnZS1rd3Z2dnczNC5qcGc.jpg"
                    width="220" height="220" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Somtum</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:20rem;">
                <img src="https://live.staticflickr.com/65535/53836752891_37bd4f2e3d_b.jpg" width="220" height="220"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Chicken Mapo</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 20rem;">
                <img src="https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcHg4NTczODMtaW1hZ2Uta3d2eGVoYzkuanBn.jpg"
                    width="220" height="220" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fire Hot Noodle</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
    </div>
    <br> <br> <hr>
    <h3>ของหวาน</h3> <br>
    <div class="row row-cols-md-3">
        <div class="col">
            <div class="card" style="width: 20rem;">
                <img src="https://live.staticflickr.com/2588/3781229939_b50f5431e6_b.jpg"
                    width="220" height="220" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Somtum</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:20rem;">
                <img src="https://live.staticflickr.com/2588/3781229939_b50f5431e6_b.jpg" width="220" height="220"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Chicken Mapo</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 20rem;">
                <img src="https://live.staticflickr.com/2588/3781229939_b50f5431e6_b.jpg"
                    width="220" height="220" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fire Hot Noodle</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
    </div> <br> <br> <hr>
    <h3>เครื่องดื่ม</h3> <br>
    <div class="row row-cols-md-3">
        <div class="col">
            <div class="card" style="width: 20rem;">
                <img src="https://live.staticflickr.com/8068/8171204510_db7a48f406_b.jpg"
                    width="220" height="220" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Somtum</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:20rem;">
                <img src="https://live.staticflickr.com/8068/8171204510_db7a48f406_b.jpg" width="220" height="220"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Chicken Mapo</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 20rem;">
                <img src="https://live.staticflickr.com/8068/8171204510_db7a48f406_b.jpg"
                    width="220" height="220" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fire Hot Noodle</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
    </div>
</div>