<p>menu works!</p>
<hr>
<div class="row">
    <div class="col-6">
        <div><img src="https://images.pexels.com/photos/7426864/pexels-photo-7426864.jpeg" style="width: 200px;" height="230"></div>>
    </div>
    <div class="col-6">
        <h1>ข้าวมันไก่</h1>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div><img src="https://images.pexels.com/photos/7426864/pexels-photo-7426864.jpeg" style="width: 200px;" height="230"></div>>
    </div>
    <div class="col-6">
        <h1>ข้าวมันไก่</h1>
    </div>
</div>
