<p>home works!</p>


<h1>ยินดีต้อนรับ, ร้านอาหารบ้านคุณตา</h1>
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./assets/images/user.jpg" class="d-block w-100" alt="...">
            <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos sit pariatur facilis voluptate. Accusamus necessitatibus ab ex aliquam, ea esse quos libero eius voluptate, neque reiciendis ipsum unde iusto maxime.</div>
        </div>
        <div class="carousel-item">
            <img src="./assets/images/user.jpg" class="d-block w-100" alt="...">
            <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos sit pariatur facilis voluptate. Accusamus necessitatibus ab ex aliquam, ea esse quos libero eius voluptate, neque reiciendis ipsum unde iusto maxime.</div>
        </div>
        <div class="carousel-item">
            <img src="./assets/images/user.jpg" class="d-block w-100" alt="...">
            <div style="color: blueviolet; background-color: black;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos sit pariatur facilis voluptate. Accusamus necessitatibus ab ex aliquam, ea esse quos libero eius voluptate, neque reiciendis ipsum unde iusto maxime.</div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
